.wrapper{
	//border:2px solid red ;
	height: 381vh;
	width:98vw;
}

.navbar{
	background-color: black;
	height: 13vh;
	width: 98vw;
	display: flex;

}
.p1{
	height:13vh ;
   width: 25Vw;
  // border: 2px solid yellow;
   display: flex;
}
.logo{
	height: 13vh;
	width: 100px;

}
.logoname{
	margin-top: 3%;
	font-size: 30px;
	font-weight: bold;
	color: white;
   border: 2px solid whitesmoke;
	box-shadow: 0px -1px 4px 2px darkgrey;
	height: 5vh;
	padding:3% ;

}
.p2{
	height: 13vh;
   width: 50Vw;
   // border: 2px solid white;
  
}
.tray{
	display: flex;
	
}
.tray li{
	display: flex;
	width: 10vw;
	margin-left:-3% ;

}
.tray li a{
   color:whitesmoke;
   text-decoration:none;
  line-height: 35px;
   font-size:25px; 
   margin-left: 5%;
	padding: 1%;
	border-radius: 3%;
         
   }
.tray li :hover, .tray li a.active{
            text-decoration:underline;
           background-color: darkred; 

        }
.p3{
	height:13vh;
   width: 25Vw;
   // border: 2px solid green;
}
     .btn a{
         color: white;
         text-decoration: none;
        }
        .btn{
            margin:23px 30px 30px 20px;
            text-decoration: none;
            color:whitesmoke;
            background-color:black;
            border-radius:3px;  
           
            font-size:15px;   
            height:30px;
            width:80px;
            cursor:pointer;
        }
        .btn:hover{

             background-color:grey;
        }
/*hero section*/
.hero_section{ 
	background: url('./img/gym2.jpg');

//	border: 2px solid cyan;
	width: 98vw;
	height: 100vh;
	background-color: yellow;
	display:flex;
	flex-direction: row;
}

.h_left{
   width: 55%;
  // border: 2px solid brown;
}
.h_p{
	margin-top: 25%;
	margin-left: 10%;
	width: 30vw;
	height: 40vh;
	border: 4px solid whitesmoke;

}

.heading{
	background-color: lightyellow;
	height: 10vh;
	width: 98vw;
	// padding:1%;
}
.role{
    font-weight: bold;
    font-size: 50px;
    
    padding-left:26%;
   
    color: black;
    

}
.b_head{
  font-size: 25px;
  background-color: lightyellow;
  color: darkred;
  display: inline;
  margin-left:25%;
  border: 2px solid black;
}
.main_section{
	background-color: black;
	color: white;
	margin-top: 5%;
	font-size: 25px;
	padding-left:15%;
	margin-left: 10%;
	width: 20vw;

	border: 3px solid grey;
	border-radius:1%;
	//box-shadow: -4px 2px 2px 2px whitesmoke;
	
}
#height{
	height: 2vh;
	margin-top: -6%;
}
#weight{
	height: 2vh;
	margin-top: -6%;
}
#age{
		height: 2vh;
	margin-top: -6%;
}
#i_p{
//	width: 15vw;
	height: 2vh;
}
#i_t{
//	width: 20vw;
   height: 0.5vh;
   font-size: 18px;

}
.res{
	font-size: 18px;
}
#btn{
	width: 12vw;
	height: 5vh;
	font-weight: bold;
	cursor: pointer;
}
#btn:hover{
	background-color: yellow;
}

.h_c{
	margin-top: 5%;
	margin-left: 15%;
	width: 30vw;
	height: 80vh;
	//border: 12px solid grey;
}
.h_right{
	width: 45%;
 //  border: 2px solid pink;
}
#icon{
  height: 45px;
  width: 45px;
 // background-color: black;
  display: flex;
  flex-direction: column;
}
.icon_grp{
	display: flex;
	flex-direction: row;
	margin-left: 20%;
	margin-top: -2%;
}
.para_grp{
	font-weight: bold;
//	background-color: lightyellow;
   font-size: 22px;
   margin-top: -5%;

}
.spcr{
	width: 35vw;
	height: 60vh;
	border: 2px solid blue;
	margin-top: 7%;
	background-color: lightyellow;
	opacity: 0.8;
	border: 10px solid grey;
	border-radius: 50%;
	margin-left: 10%;
}
.spcr .l_name{
	font-weight: bold;
	//background-color: black;
	padding-left: 20%;
	margin-top: 5%;
}
/*
.img_slider{
	  width:50%;
	  border: 2px solid yellow;
    overflowX: hidden;
	 display: flex;
	// position: absolute;
	 transform: translate(50%,-50%);
	animation:  slide 15s infinite;
}
@keyframes slide{
   0%{
   	transform: translateX(0);
   }
   25%{
   	transform: translateX(-25%);
   }   
   50%{
   	transform: translateX(50%);
   }
   75%{
   	transform: translateX(75%);
   } 
   100%{
   	transform: translateX(100%);
   }
}
*/
/*img slider*/
.prc1{
       width:98vw;

     // position: absolute;
       transform: translateY(-100%,-100%);
     //  top:50%;
     //  left:30%;
       overflow-x: hidden;
     //  border: 20px solid black;
       position: relative;



}
.prc2{
	width: 5vw;
	display: flex;
	animation: slide 10s infinite;
}
@keyframes slide{
   0%{
   	transform: translateX(0);
   }

   20%{
   	transform: translateX(-800%);
   }
   40%{
   	transform: translateX(-1600%);
   } 
   60%{
   	transform: translateX(-2400%);
   }
   80%{
   	transform: translateX(-3200%);
   }
   
   100%{
   	transform: translateX(-4000%);
   }
 /*
   60%{
   	transform: translateX(-3200%);
   }
   70%{
   	transform: translateX(-2400%);
   } 
   80%{
   	transform: translateX(-1600%);
   }
   90%{
   	transform: translateX(-800%);
   }
   95%{
   	transform: translateX(-400%);
   }
   100%{
   	transform: translateX(-400%);
   }
*/
   
   

}
img{
   width: 100%;
}
.scroller{
	//border: 2px solid blue;
	background-color: black;
}

/*hero -section2*/

.hero_section2{
 height: 30vh;
 width: 96vw;
 border: 10px solid black; 
 display: flex;
 flex-direction: row;
 margin-top: 1%;
 background-color: floralwhite;
}
.hes{
	background-color: black;
	color: white;
	justify-content: center;
	align-items: center;
	display: inline;
	margin-left:41%;
   margin-top:1%;
   box-shadow:  -2px 2px 2px 2px darkgrey;
}
.hs1{
	width:36vw;
   // border: 2px solid brown;
    padding-left: 10%;
    background-color: black;
    font-weight: bold;
    color: white;
}
.r_l{
	border-radius: 50%;
	height: 20vh;
}
.hs2{
	height:20vh;
	width:10vw;
	//border: 2px solid green;
	border-radius: 50%;
	margin: 2%;
}
.hs3{
	width:40vw;
//	border: 2px solid purple;
   background-color: lightyellow; 
}
.form-group{
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-left: 30%;
}
.form-group .logoname{
	background-color: black;
	font-size: 20px;
	padding-left:5% ;
}
.form-group .btn{
	margin-top: 2%;
	margin-left: 30%;
}
/*cards section*/
.cards{
	//border: 2px solid green;
	width: 88vw;
	height: 40vh;
	margin-top:1%;
	display: flex;
	flex-direction: row;
	padding: 5%;
}
.card1{
	border: 2px solid whitesmoke;
	width: 16vw;
	height: 48vh;
	margin:2%;
	margin-top: -3%;
	border-radius:2px ;
	box-shadow: -4px 2px 8px 4px grey;
	padding: 1%;
	cursor: pointer;
}
.card_con{
  display: flex;
  flex-direction: column;
}
.card_img{
   height: 34vh;
   opacity: 0.8;
}
.card_word{
    height: 12vh;
    margin-top: -20px;
}
.card1:hover{
	transform: translatY(120px);
	opacity: 1;
	box-shadow: -2px 2px 2px 2px black;
}

/*owner section*/
.owner{
	//border: 2px solid deeppink;
	height: 50vh;
	width: 98vw;
	margin-top: 10%;
	display: flex;
	flex-direction: row;
}
.text{
//	border: 2px solid blue;
   width: 59vw;
   font-weight:bold;
	background-color: lightyellow;
	padding-left: 10%;
	padding-top: 3%;
}
.pic{
//border: 2px solid black;
width: 39vw;

background-color: black;
}
.card5{
	border: 2px solid yellow ;
	width: 16vw;
	height: 30vh;
	margin-top: 5%;
	margin-left:17%;
	border: 12px solid whitesmoke;
	border-radius:2px ;
	box-shadow: -4px 2px 8px 4px grey;
}
.o_p{
	height: 30vh;
}
/*footer section*/
.footer{
//	border: 2px solid darkred;
	height: 30vh;
	width: 98vw;
	margin-top:3%;
	display: flex;
	flex-direction: row;
}
.f_p1{
   // border: 2px solid darkred; 
    height: 30vh;
    width: 34vw;
    background-color: black;
    color: wheat;
    font-size: 30px;
}
.f_pimg{
  padding-left: 10%;
  padding-top: 15%;

}
.f_p2{
	//border: 2px solid orange;
	height: 30vh;
   width: 32vw;
   background-color: lightyellow;
/*   display: flex;*/
/*   flex-direction: column;*/

}
.f_p2 .tray {
	display:flex;
	flex-direction: column;
	margin-left: 30%;

}
.f_p2 .tray li a{
	color: black;
	font-weight: bold;
	font-size: 23px;

	



}
.f_p3{
  //  border: 2px solid blue;
    height: 30vh;
    width: 32vw;
    background-color: lightyellow;
   
}
.f_p3img{
	 padding-left: 25%;
}
 .icon-wrapper {
     display: flex;
     gap: 1rem;
     margin-left: 24%;
     font-weight: 900;
 }
  .icon-wrapper a i {
     font-size: 50px;
     color: black;
  }

/*responsive part*/
@media only screen and (max-width: 426px) {
	.wrapper{
		height: 740vh;
		width: 95vw;
		//border:2px solid red ;
	}
.navbar{
	display:flex;
	flex-direction:column;
	
	height: 39vh;
	width: 95vw;
}
.logo{
	margin-top: 3%;
}
.p1 {
	width: 97vw;
}
.p2{
	width: 97vw;

}
.tray li{
	padding: 2%;
	margin-left:-12%;
	
	width: 50vw;
   
}
.tray li a{
	box-shadow: 0px -1px 4px 2px darkgrey;
	//letter-spacing: 1px;
	font-size: 20px;
	background-color: black;
	color: white;
	padding: 1%;

}
.p3{
	width: 95vw;
	display: flex;
}

.btn{
  
  margin:10px 55px ;
   }
   .heading{
   	 width: 95vw;
   }
 .role{
 	font-size:20px;
  padding:5%;
 


   }
/*hero section*/
.hero_section{
	display:flex;
	flex-direction:column;
	height: 160vh;
	width: 95vw;
}
.h_left{
	height: 100vh;
	width: 95vw;
}
.h_c{
	height: 40vh;
	width: 70vw;
}
.main_section{
	width: 60vw;
	height: 82vh;
	margin-left:1% ;
}
#btn{
	width: 46vw;
}
#result{
	font-size: 20px;
}
.h_right{
	margin-top:14%;
	height: 30vh;
	width: 95vw;

}
.scroller{
	width: 95vw;
}
.spcr .l_name{
	
	opacity: 0%;
}
.spcr{
	background-color: transparent;
	border-radius:2%;
	width: 60vw;
	margin-left: 10%;
	//border: 2px solid red;
}
.icon_grp{
	margin-top: -10%;
	margin-left: 10%;
	opacity: 1;
}
.para_grp{
	
	font-size: 18px;
	color: darkred;
}
#icon{
	height: 55px;
	width: 30px;
}





.h_p{
	margin-top: 5%;
	margin-left:15%;
	width: 50vw;
	height: 30vh;
	
}

.hero_section2{
    height: 90vh;
    width: 90vw;
	display: flex;
	flex-direction:column;
}
.hs1{
	width: 81vw;
	height:30vh;
}
.hs2{
	width: 45vw;
	margin-left: 30%;
	height: 29vh;
}
.r_l{
	height: 30vh;
}
.hs3{
	width: 90vw;
	height: 28vh;
}
.form-group .logoname{
	font-size: 20px;
}
#height1{
	margin-top: -1%;

}
.hes{
	font-size: 25px;
	margin-left: 30%;
}
.form-group .btn{
	margin-top: 1%;
	height: 5vh;
	margin-left: 2%;
}
.cards{
	display: flex;
	flex-direction: column;
	height:210vh;
	margin-top:5% ;
}
.card1{
	width:80vw ;
	height: 50vh;
	margin-top: 5%;
}
/*owner*/
.owner{
	display: flex;
	flex-direction: column-reverse;
   border: 10px solid black;
	height: 100vh;
	width: 90vw;
}
.text{
	width: 89vw;
	height: 50vh;
	padding-left: 1%;

}
.pic{
	width: 90vw;
	height: 50vh;
}
.card5{
	width:44vw ;
	height: 30vh;
	margin-left: 25%;
}
/*footer*/
.footer{
display: flex;
flex-direction: column-reverse;
height: 83vh;
margin-top: -19%;
}
.f_p1{
	width: 95vw;
	height: 15vh;
	//background-color: darkred;
	//color: black;

	
}
.f_pimg{
	color: white;
   background-color:black;

}
.f_p2{
	width: 95vw;
	height: 30vh;
}
.f_p2 .tray li a{
	background-color:lightyellow;
	opacity: 0.5;
}
.f_p3{
	width: 95vw;
	height: 25vh;
}
 .icon-wrapper a i {
     font-size: 50px;
     color: black;
  }




